/* Locations and Amenities class style */
.filters .locations, 
.filters .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
}

/* Locations border */
.filters .locations {
    border-right: 1px solid #DDDDDD;
}

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header 3 style */
.filters h3 {
    font-weight: 600;
    font-size: 1.17em;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 0px;
  }
  
  /* Header 4 style */
  .filters h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 0px;
    padding-left: 30px;
    padding-bottom: 5px;
  }