/* Locations and amenities popover menu */
.filters .popover {
    background-color: #FAFAFA;
    width: 100%;
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position:absolute;
}

/* Locations and amenities popover hover */
.filters .locations:hover .popover,
.filters .amenities:hover .popover{
    display: block;	/* Display the dropdown */
}

/* Locations list style */
.filters .locations ul {
    padding: 6px 0 6px 0;
  }
  
/* Locations list element margin */
.filters .locations li {
  margin: 0 auto 6px 3em;
  list-style: none;
}

/* Amenities list element margin */
.filters .amenities li {
  margin: 12px auto 12px 30px;
  list-style: none;
}

/* Header 2 style */
.filters h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px auto 0 30px;
    padding-top: 15px;
    line-height: 0px;
  }