/* Popover class style */
.popover {
    width: 100%;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
}

ul {
    display: inline;
    list-style-type:disc;
}