/* Popover class style */
.popover {
    width: 100%;
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FAFAFA;
}

ul li {
    display: inline-block;
    list-style-type:none;
    position: relative;
    text-align: left;
    z-index: 999;
    left: 0;
}

ul li:hover{
    display: block;	/* Display the dropdown */
}

h2 {
    font-size: 16px;
}