/* Places style */
.places {
	display: block;
	margin: 45px auto;
	text-align: center;
}

/* Article style */
 .places article {
    display:inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
 }
 
/* Place class header 1 style */
.places h1 {
  font-size: 30px;
	float: left;
	text-align: left;
	width: 95%;
	display: block;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 5px;
}

/* Header 2 style */
article h2{
  font-size: 30px;
  padding: 0px;
  max-width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
      box-sizing: border-box;
 }
