/* Places class style */
.places {
    background-color: white;
    height: fit-content;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}


  /* Header 1 style */
  .places h1 {
    font-size: 30px;
    text-align:left;
    vertical-align: top;
  }

 .places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
 }

 .places article h2{
    font-size: 30px;
    text-align: center;
 }
